
section{
    padding-top: 100px;
    margin:auto;
    display: flex;
    justify-content: space-around;
    width: 700px;
    align-items: center;
}

.about-buttons{
    display: flex;
    justify-content: space-evenly;
}


.paragrafo{
    width:450px;
}
img{
    padding-right:100px;
    width: 400px;
    height: 400px;
}


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

a{
    text-align: center;
    color: white;
    text-decoration: none;
}


.curriculo{background-color: #0336FF;}
.github{background-color: #0336FF;}
.linkedin{background-color: #0336FF;}
.twitch{background-color: #0336FF;}