
<section class="about">
    <div class="profile">
        <img src="assets/img/about-image.png" alt="image" srcset="">
    </div>
    <div class="about-text">
        <h2>Nome</h2>
        <div class="paragrafo">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <div class="about-buttons">
            <div class="example-button-row">
                <button mat-flat-button color="primary" class="button button1" style="vertical-align:middle"><span><a href="#">Meu curriculo</a></span></button>
                <button mat-flat-button color="primary" class="button button1" style="vertical-align:middle"><span><a href="#">Linkedin</a></span></button>
                <button mat-flat-button color="primary" class="button button1" style="vertical-align:middle"><span><a href="#">GitHub</a></span></button>
                <button mat-flat-button color="primary" class="button button1" style="vertical-align:middle"><span><a href="#">Twitch</a></span></button>
            </div>   
        </div>
    </div>  

</section>