
<mat-card class="grid-item">
    <mat-card-title class="row-title">Javascript</mat-card-title>
    <mat-card-content>
        <p class="paragrafo">This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Certificado</button>
    </mat-card-actions>
</mat-card>

