.grid-item {
    background-color: #292C36;
    width: 480px;
    height: 243px;
    border-radius: 8px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.row-title{
    width: 100%;
    display: flex;
    text-align: center;
    height: 60px;
}

.paragrafo p{
    width:450px;
    font-size:15px;
}