/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-color: #212121;
}
h2{ 
    font-family: 'Poppins', sans-serif;   
    font-size:26px;
    color: #fff;
}
h3{ 
    font-family: 'Poppins', sans-serif;   
    font-size:26px;
    color: #fff;
}

p{  
    color: #B0ADAD;
    text-align: justify;
    text-justify: inter-word;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
