<div class="github">
    <div class="title">
        <h2>Projetos</h2>
        <button mat-button><a>Frontend</a></button>
        <button mat-button><a>Backend</a></button>
        <button mat-button><a>FullStack</a></button>
       
    </div>
    <div class="grid-container">
        <app-card-github></app-card-github>
        <app-card-github></app-card-github>
        <app-card-github></app-card-github>
        <app-card-github></app-card-github>
        <app-card-github></app-card-github>
        <app-card-github></app-card-github>
    </div>
</div>
