.github{
    padding-top: 100px;
}
.title{
    text-align: center;
}
.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: center; 
}

a {
    color: white;
    text-decoration: none;
}
.example-card {
    background-color: #292C36;
    width: 350px;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .cards-git{
    display: flex;
    justify-content: center;
  }

.pag{
    display: flex;
    justify-content: center;
    background-color: #212121;
}