<div class="github">
    <div class="title">
        <h2>Projetos</h2>   
    </div>
    <div class="grid-container">
        <mat-card class="example-card"*ngFor="let project of projects | paginate:{
            itemsPerPage:Size,
            currentPage:page,
            totalItems:count}; let i =index">
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content >
              <h2 >{{ project.name }}</h2>
              <p>
                Projeto feito em: {{project.language}}.
              </p>
            </mat-card-content>
            <mat-card-actions class="cards-git">

              <a href="{{ project.html_url }}" target="_blank"><button mat-button color="primary"><span class="material-icons">code</span></button></a>
              
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="pag">
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onDataChange($event)"></pagination-controls>
    </div>
</div>
