<div class="knowledge">
    <div class="title">
        <h2>Conhecimentos</h2>
    </div>
    <div class="grid-container">
      <mat-card class="example-card">
        <mat-card-title><h2><img src="assets/img/backend.png" alt="image" srcset="">Python</h2></mat-card-title>
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-title><h2><img src="assets/img/backend.png" alt="image" srcset=""> Formação Django Rest Framework</h2></mat-card-title>
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
        </mat-card-content>
        <mat-card-actions class="certificado">
          <button mat-button color="primary">Certificado</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-title><h2><img src="assets/img/backend.png" alt="image" srcset="">Formação Django</h2></mat-card-title>
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
        </mat-card-content>
        <mat-card-actions class="certificado">
          <button mat-button color="primary">Certificado</button>
        </mat-card-actions>
      </mat-card>    
    <mat-card class="example-card">
      <mat-card-title><h2><img src="assets/img/server.png" alt="image" srcset="">MongoDb</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-title><h2><img src="assets/img/server.png" alt="image" srcset="">PostgreSQL</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-title><h2><img src="assets/img/server.png" alt="image" srcset="">SQLite</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
    </mat-card>    
      
    <mat-card class="example-card">
      <mat-card-title><h2><img src="assets/img/programming.png" alt="image" srcset="">HTML</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-card-actions class="certificado">
        <button mat-button color="primary">Certificado</button>
      </mat-card-actions>
    </mat-card>  
    <mat-card class="example-card">
      <mat-card-title><h2><img src="assets/img/programming.png" alt="image" srcset="">CSS</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-card-actions class="certificado">
        <button mat-button color="primary">Certificado</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-title><h2><img src="assets/img/programming.png" alt="image" srcset="">Bootstrap</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-card-actions class="certificado">
        <button mat-button color="primary">Certificado</button>
      </mat-card-actions>
    </mat-card> 
    <mat-card class="example-card">      
      <mat-card-title><h2><img src="assets/img/programming.png" alt="image" srcset="">Javacript</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-card-actions class="certificado">
        <button mat-button color="primary">Certificado</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">      
      <mat-card-title><h2><img src="assets/img/programming.png" alt="image" srcset="">NodeJS-Express</h2></mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footerThis card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-card-actions class="certificado">
        <button mat-button color="primary">Certificado</button>
      </mat-card-actions>
    </mat-card>     
  </div>
</div>