.knowledge{
    padding-top: 100px;
    margin:auto;
    display:inline-block;
    justify-content: center;
    
}
.title{
    text-align: center;
}
.grid-container {
    display: grid;
    gap: 20px 80px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-left: 80px;
}
  
