.knowledge{
    padding-top: 100px;
}
.title{
    text-align: center;
}
.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
  
.example-card {
    max-width: 300px;
    background-color: #292C36;
}
.certificado{
    display: flex;
    justify-content: center;
}
